@import 'config';

$margin-base: 10px !default;
$color-link: blue !default;

/**
 * Override jquery.ui theme. Many importants coming your way mister!
 */
.accordion {
  margin: $margin-base*4 0 $margin-base*2;
  &__title {
    color: $color-link !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-weight: 700 !important;
    border: none !important;
    border-bottom: 1px solid $concrete !important;
    &:focus {
      outline: none;
    }
  }
  &__content {
    border: none !important;
  }
}
.ui-accordion {
  &-header {
    background: $white !important;
    &-active {
      background: $frost !important;
      .ui-icon {
        transform: rotate(180deg)
      }
    }
    &-icon {
      right: 2.2em !important;
      left: initial !important;
      background-image: url("accordion-arrow.svg") !important;
      background-position: initial !important;
    }
  }
  &-content {
    &-active {
      background: $frost !important;
    }
  }
}
